body{
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.cabeçalho{
  width: 1365px;
  height: 80px;
  background-color: #374b6e;
  display: flex;
}
h1 {
  margin-left: 1000px;
  color: red;
  margin-bottom: 50px;
}

.botão {
  background-color: mediumaquamarine;
  margin-block-start: 250px;
  border: 2px solid;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.jogo {
  position: relative;
  border: 3px solid;
  width: 1200px;
  height: 500px;
  top: 50px;
  margin-left: 0;
  overflow: hidden;
  background-image: url("../Cenarios/FundoUm.png");
  background-size: 100% 100%;
}
.play {
  width: 40px;
  height: 40px;
}
.colheitadeira {
  position: absolute;
  top: 10%;
  width: 75%;
  height: 75%;
  

  animation: colheitadeira 10s infinite ease-in-out;
}

@keyframes colheitadeira {
  from {
    left: -75%;
  }

  to {
    left: 100%;
  }
}

