/* veio antes do inicio.css */

h1 {
  color: red;
}
.botão {
  background-color: mediumaquamarine;
  margin-block-start: 300px;
  border: 2px solid;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  position: relative;
}
.jogo {
  border: 3px solid;
  width: 1300px;
  height: 600px;
  position: absolute;
  overflow: hidden;
}
.play {
  width: 40px;
  height: 40px;
}
.colheitadeira {
  position: relative;
  top: 70px;

  width: 25%;
  height: 25%;

  animation: colheitadeira 8s infinite ease-in;
}
.FundoUm {
  
}
 
@keyframes colheitadeira {
  from {
    left: -25%;
  }

  to {
    left: 100%;
  }
}
